[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ydata_profiling = "*"
notebook = "*"
pandas = "*"
seaborn = "*"
pandasgui = "*"
ipywidgets = "*"

[dev-packages]

[requires]
python_version = "3.11"
